.module_shelf{
	position:absolute;
	top:20px;
	left:20px;
	background-color:blue;
	width:200px;
	height:calc(100% - 40px)
}

.user_screen{
	position:absolute;
	top:20px;
	right:10px;
	width:calc(100% - 260px);
	height:calc(100% - 60px);
	border:10px solid blue;
}

.module{
	position:absolute;
	background-color:black;
	width:100px;
	height:100px;
	z-index:2;
}

.run_code{
	position:absolute;
	background-color:green;
	width:50px;
	height:50px;
	bottom:20px;
	right:20px;
	border-radius:50%;
}

.canvas{
	position:absolute;
	top:0px;
	left:0px;
}

#module1{
	top:20px;
	left:50px;
}

#module2{
	top:140px;
	left:50px;
}

.module:hover{
	background-color:grey;
}

.run_code:hover{
	background-color:lightgreen;
}

#trashIcon {
	position: absolute;
	font-size: 35px;
}

#trashIcon:hover{
	color: red;
	cursor: pointer;
}