.workbench{
	position:absolute;
	top:0px;
	left:0px;
	width:50%;
	height:100%;
}

.game_display{
	position:absolute;
	top:0px;
	left:50%;
	width:50%;
	height:100%;
}

.module_shelf{
	position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: calc(100% - 40px);
    box-shadow: 0 0 70px #000;
    text-align: center;
	padding: 2rem;
	overflow-y: scroll;
}

.game_screen{
	position:absolute;
	top:20px;
	right:10px;
	width:calc(100% - 20px);
	height:calc(100% - 40px);
}

.user_screen{
	position:absolute;
	top:20px;
	right:10px;
	width:calc(100% - 260px);
	height:calc(100% - 40px);
}

.module{
	position: absolute;
    height: 30px;
    width: 170px;
    z-index: 2;
    left: 15px;
    vertical-align: middle;
    top: 50px;
    border-radius: 31px;
    color: #7e8ba3;
    border: 1px solid #7e8ba3;
    cursor: pointer;
}

span#conditionModule {
    top: 100px;
}

span#argModule {
    top: 150px;
}


span#targetModule {
    top: 200px;
}

span#element {
    top: 250px;
}

.target {
    position: absolute;
    height: 30px;
    width: 150px;
    z-index: 2;
    left: 25px;
    vertical-align: middle;
    top: 50px;
    border-radius: 31px;
    color: #7e8ba3;
    border: 1px solid #7e8ba3;
    cursor: pointer;
}




.run_code{
	position:absolute;
	background-color:green;
	width:50px;
	height:50px;
	bottom:90px;
	right:20px;
	border-radius:50%;
}

.stop_code{
	position:absolute;
	background-color:red;
	width:50px;
	height:50px;
	bottom:20px;
	right:20px;
	border-radius:50%;
}
.competition {
	position:absolute;
	background-color:yellow;
	width:50px;
	height:50px;
	bottom:160px;
	right:20px;
	border-radius:50%;
}

.canvas{
	position:absolute;
	top:0px;
	left:0px;
	border:10px solid blue;
}

.module:hover{
	background-color: #678ba3;
    border: none;
    color: black;
}

.run_code:hover{
	background-color:lightgreen;
}

#trashIcon {
	position: absolute;
	font-size: 35px;
}

#trashIcon:hover{
	color: red;
	cursor: pointer;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content span {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

.dropdown-move {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-move span {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.competition_popup {
	display:none;
	position:absolute;
	top:50vh;
	left:50vw;
	transform: translate(-50% , -50%);
	background-color:white;
	border: 10px solid #000;
	height:100px;
	width:200px;
	z-index:4;
}

/* Change color of dropdown links on hover */
.dropdown-move a:hover {background-color: #ddd}

.dropdown-cont {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-cont span {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-cont a:hover {background-color: #ddd}

.dropdown-cond {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-cond span {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-cond a:hover {
	background-color: #ddd;
	cursor: pointer;
}

.showBlock {
	display: block !important;
}
.showGrid {
	display: grid !important;
}

#codeEditorPage {
	display: none;
}
#loginPage {
	display: none;
}
#regPage {
	display: none;
}
