.workbench{
	position:absolute;
	top:0px;
	left:0px;
	width:50%;
	height:100%;
}

.game_display{
	position:absolute;
	top:0px;
	left:50%;
	width:50%;
	height:100%;
}

.module_shelf{
	position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: calc(100% - 40px);
    box-shadow: 0 0 70px #000;
    text-align: center;
	padding: 1rem;
	overflow-y: scroll;
}

.game_screen{
	position:absolute;
	top:20px;
	right:10px;
	width:calc(100% - 20px);
	height:calc(100% - 40px);
}

.user_screen{
	position:absolute;
	top:20px;
	right:10px;
	width:calc(100% - 260px);
	height:calc(100% - 40px);
}

.module{
	height: 30px;
    width: 170px;
    z-index: 2;
    align-self: center;
    border-radius: 31px;
    color: #7e8ba3;
    border: 1px solid #7e8ba3;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 1em;
}

.target {
    height: 30px;
    width: 170px;
    z-index: 2;
    align-self: center;
    border-radius: 31px;
    color: #7e8ba3;
    border: 1px solid #7e8ba3;
    cursor: pointer;
    display: block;
    margin-top: 1em;
}




.run_code{
	position:absolute;
	background-color:green;
	width:50px;
	height:50px;
	bottom:90px;
	right:20px;
	border-radius:50%;
}

.stop_code{
	position:absolute;
	background-color:red;
	width:50px;
	height:50px;
	bottom:20px;
	right:20px;
	border-radius:50%;
}
.competition {
	position:absolute;
	background-color:yellow;
	width:50px;
	height:50px;
	bottom:160px;
	right:20px;
	border-radius:50%;
}

.canvas{
	position:absolute;
	top:0px;
	left:0px;
	/* outline:10px outset blue; */
}

.module:hover{
	background-color: #678ba3;
    border: none;
    color: black;
}
.target:hover{
	background-color: #678ba3;
    border: none;
    color: black;
}

.run_code:hover{
	background-color:lightgreen;
}

#trashIcon {
	position: absolute;
	font-size: 35px;
}

#trashIcon:hover{
	color: red;
	cursor: pointer;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    background-color: #354152;
    width: 146px;
    z-index: 1;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    border: 1px solid;
    padding: 1rem;
    border-top: none;
    overflow-y: scroll;
    color: #6b869b;
}

/* Links inside the dropdown */
.dropdown-content span {
	height: 30px;
	text-decoration: none;
	display: block;
	overflow: hidden;
}
.dropdown-content span:hover {
	cursor: pointer;
	background-color: #678ba3;
    border-radius: 31px;
    color: black;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

.dropdown-move {
    display: none;
    background-color: #354152;
    width: 146px;
    z-index: 1;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    border: 1px solid;
    padding: 1rem;
    border-top: none;
    overflow-y: scroll;
    color: #6b869b;
}

/* Links inside the dropdown */
.dropdown-move span {
	height: 30px;
	text-decoration: none;
	display: block;
	overflow: hidden;
}

.dropdown-move span:hover {
	cursor: pointer;
	background-color: #678ba3;
    border-radius: 31px;
    color: black;
}

.competition_popup {
	display: none;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50% , -50%);
    background-color: #1d242d;
    height: fit-content;
    width: 250px;
    box-shadow: 0 0 70px #000;
    z-index: 4;
    text-align: center;
    padding: 30px;
}
.superrun.ask {
	border: none;
    background: darkseagreen;
    width: 50%;
    position: absolute;
    left: 0;
    bottom: -50px;
    height: 50px;
}
.superrun.ask:disabled {
	background: #9E9E9E;
}
.cancel_comp.ask {
	border: none;
    background: indianred;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -50px;
    height: 50px;
}
.superrun.ask:hover:enabled {
	cursor: pointer;
    box-shadow: 0 0 15px #b7c6b7;
    z-index: 5;
}
.cancel_comp.ask:hover {
	cursor: pointer;
    box-shadow: 0 0 15px #f09292;
    z-index: 5;
}

.superrun.ans {
	border: none;
    background: darkseagreen;
    width: 50%;
    position: absolute;
    left: 0;
    bottom: -50px;
    height: 50px;
}
.cancel_comp.ans {
	border: none;
    background: indianred;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -50px;
    height: 50px;
}
.superrun.ans:hover {
	cursor: pointer;
    box-shadow: 0 0 15px #b7c6b7;
    z-index: 5;
}
.cancel_comp.ans:hover {
	cursor: pointer;
    box-shadow: 0 0 15px #f09292;
    z-index: 5;
}
.noUsersPopup {
    display: none;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50% , -50%);
    background-color: #1d242d;
    height: 150px;
    width: 250px;
    box-shadow: 0 0 70px #000;
    z-index: 4;
    text-align: center;
    padding: 30px
}
.accept_noUsers {
    border: none;
    background: darkseagreen;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
}
.accept_noUsers:hover:enabled {
	cursor: pointer;
    box-shadow: 0 0 15px #b7c6b7;
    z-index: 5;
}

/* Change color of dropdown links on hover */
.dropdown-move a:hover {background-color: #ddd}

.dropdown-cont {
    display: none;
    background-color: #354152;
    width: 146px;
    z-index: 1;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    border: 1px solid;
    padding: 1rem;
    border-top: none;
    overflow-y: scroll;
    color: #6b869b;
}

/* Links inside the dropdown */
.dropdown-cont span {
	height: 30px;
	text-decoration: none;
	display: block;
	overflow: hidden;
}

.dropdown-cont span:hover {
	cursor: pointer;
	background-color: #678ba3;
    border-radius: 31px;
    color: black;
}
.ask {
    font-size: medium;
}

/* Change color of dropdown links on hover */
.dropdown-cont a:hover {background-color: #ddd}

.dropdown-cond {
    display: none;
    background-color: #354152;
    width: 146px;
    z-index: 1;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    border: 1px solid;
    padding: 1rem;
    border-top: none;
    overflow-y: scroll;
    color: #6b869b;
}

/* Links inside the dropdown */
.dropdown-cond span {
	height: 30px;
	text-decoration: none;
	display: block;
	overflow: hidden;
}

.dropdown-cond span:hover {
	cursor: pointer;
	background-color: #678ba3;
    border-radius: 31px;
    color: black;
}

/* Change color of dropdown links on hover */
.dropdown-cond a:hover {
	background-color: #ddd;
	cursor: pointer;
}

.showBlock {
	display: block !important;
}
.showGrid {
	display: grid !important;
}

#codeEditorPage {
	display: none;
}
#loginPage {
	display: none;
}
#regPage {
	display: none;
}

.spaceDown {
	margin-bottom: 0px;
}

.fullPage {
	width: 100%;
	height: 100%;
}
.darkBack {
	/*background: #000;*/
}

.elementSelect {
    display: none;
    background-color: #1d242d;
    width: 146px;
    z-index: 1;
    margin: auto;
    text-align: center;
    border: 1px solid;
    padding: 1rem;
    border-top: none;
    overflow-y: scroll;
    color: #6b869b;
}

/* Links inside the dropdown */
.elementSelect span {
	height: 30px;
	text-decoration: none;
	display: block;
	overflow: hidden;
}
.elementSelect span:hover {
	cursor: pointer;
	background-color: #678ba3;
    border-radius: 31px;
    color: black;
}