input:focus {
    outline: none;
}
#projSelectPage{
	pointer-events: all;
	display: none;
	height: 100%;
	grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
    grid-template-rows: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
}
#projCreation {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 6;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 25% 25% 25% 25%;
    box-shadow: 0 0 70px #000;
    text-align: center;
    padding: 2rem;
}
#newProjTitle {
	grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    font-size: 2rem;
    font-weight: 100;
}
#addProjForm {
	grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: center;
}
#projName {
	height: 45px;
    width: calc(100% - 76px );
    font: inherit;
    border: 1px solid #242c37;
    border-radius: 999px;
    background-color: transparent;
    text-align: center;
}
#createProj {
	height: 45px;
    width: 70px;
    background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
    color: #fff;
    border-radius: 999px;
    border: none;
}
#projects {
	grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 12;
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    box-shadow: 0 0 70px #000;
    text-align: center;
    padding: 2rem;
}
#projectsTitle {
	grid-column-start: 2;
    grid-column-end: 8;
    align-self: center;
    font-size: 2rem;
    font-weight: 100;
}
#projListContainer {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 6;
    border: 1px solid #242c37;
    padding: 1em;
    border-radius: 31px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#enterProj {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 6;
    height: 45px;
    align-self: center;
    width: 92px;
    justify-self: right;
    background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
    color: #fff;
    border-radius: 999px;
    border: none;
}
#projInfoContainer {
	display: none;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 12;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    box-shadow: 0 0 70px #000;
    text-align: center;
    padding: 2rem;
}
#usersTitle {
	grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 25px;
}
#projUsers {
	grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 7;
    border: 1px solid #242c37;
    padding: 1em;
    border-radius: 31px;
}
#newUserForm {
	grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9;
    align-self: center;
    margin-top: 20px;
}
#newUser {
	height: 45px;
    width: calc( 100% - 76px );
    border: 1px solid #242c37;
    border-radius: 999px;
    background-color: transparent;
    text-align: center;
}
#addUser {
	height: 45px;
    width: 70px;
    background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
    color: #fff;
    border-radius: 999px;
    border: none;
}
span.list {
	display: block;
	padding: 5px;
}
span.list:hover {
    background-color: #678ba3;
    border-radius: 31px;
    color: black;
    cursor: pointer;
}

span.clicked {
	background-color: #678ba3;
    border-radius: 31px;
    color: black;
    cursor: pointer;
}
#projListContainer::-webkit-scrollbar {
    display: block;
    width: 5px;
}
#projListContainer::-webkit-scrollbar-track {
    background: #678ba3;
}
    
#projListContainer::-webkit-scrollbar-thumb {
    background-color: #242c37;
    border-right: none;
    border-left: none;
}

#projListContainer::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 15px; 
}

#projListContainer::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 15px;
}